{
  "presets": ["env", "react"],
  "plugins": [
    [
      "react-css-modules", {
        "generateScopedName": "[local]--[hash:base64:5]",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-jsx",
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@layout": "./src/layout",
          "@helpers": "./src/helpers",
          "@pages": "./src/pages",
          "@images": "./src/assets/images"
        }
      }
    ]
  ]
}