// Generic Colours
$white: #ffffff;
$off-white: #f2f2f2;

$brand-red: #e85151;
$brand-green: #51e872;
$brand-black: #22272a;
$brand-light: #ced9e0;
$brand-grey: #c4c4c4;

// FONT 
$font-stack: 'Montserrat', 'Helvetica Neue' ,Helvetica,Arial,sans-serif;